.cards {
  width: 500px;
  height: 250px;
  margin-left: 50px;
  float: left;

  li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    background: #2196f9;

    &>span:first-child {
      display: inline-block;
      width: 100px;
      color: white;
      border-right: 1px solid #ccc;
    }
  }


}

.btn {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #2196f9;
  margin-left: 50px;
  border-radius: 5px;
  color: white;

  &:hover {
    color: white
  }
}
